.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 3px solid rgb(30, 30, 28);
  border-radius: 6px;
}

.card .frontImage {
  border-radius: 20px;
  width: 180px;
  height: 180px;
  transform: rotateY(90deg);
  transition: all ease-in 200ms;
  position: absolute;
}

.flipped .frontImage {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}
.card .backImage {
  border-radius: 20px;
  width: 180px;
  height: 180px;
  transition: all ease-in 200ms;
}

.flipped .backImage {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}
