.App {
  display: flex;
  align-items: baseline;
}

.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
  padding-top: 80px;
}

.buttonBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.btn-easy {
  margin-bottom: 10px;
}

.btn-easy:hover,
.btn-easy:focus {
  background-color: green;
}

.btn-medium {
  margin-bottom: 10px;
}

.btn-easy.active {
  background-color: green;
}

.btn-medium.active {
  background-color: rgb(244, 131, 2);
}

.btn-hard.active {
  background-color: red;
}


.btn-medium:hover,
.btn-medium:focus {
  background-color: rgb(244, 131, 2);
}

.btn-hard:hover,
.btn-hard:focus {
  background-color: red;
}

.Board {
  margin: auto 0px;
}

button {
  background: none;
  border: 3px solid beige;
  padding: 6px 12px;
  border-radius: 8px;
  color: beige;
  font-weight: 500;
  cursor: pointer;
  font-size: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 600ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover,
:focus {
  background-color: blueviolet;
}

.card-grid-3 {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-grid-4 {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-grid-6 {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
}

.popup-text {
  margin: 0;
  font-size: 32px;
  color: #333;
}

.timer {
  font-size: 22px;
  color: red;
}